body { padding: 0; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
a { color: #00B7FF; }
ul,li { margin: 0; padding: 0; list-style: none; }
h1 { text-align: center; }
h3 { margin: 0; padding: 0; }

.set-nickname { background: rgba(0,0,0,.4); position: absolute; left: 0; top: 0; right: 0; bottom: 0; text-align: center; }
	.set-nickname form { width: 260px; padding: 30px; background: #fff; border-radius: 4px; display: inline-block; vertical-align: middle; text-align: left; }
	.set-nickname:after { content: ''; width: 0; height: 100%; display: inline-block; vertical-align: middle; }
	.set-nickname h3 { padding-bottom: 20px; }
	.set-nickname h3 b { margin-top: -8px; display: inline-block; vertical-align: middle; }
	.set-nickname p { margin: 0; padding-top: 15px; text-align: center; }
	.set-nickname input[type="text"] { width: 100%; padding: 10px; border: #bbb solid 1px; border-radius: 3px; box-sizing: border-box; outline: none; }
	.set-nickname input[type="submit"] { padding: 10px 30px; width: 100%; background: #1296DB; color: #fff; border: 0; border-radius: 3px; cursor: pointer; }

.chat { width: 1000px; margin: 0 auto; border: #ddd solid 1px; border-radius: 3px; overflow: hidden; box-shadow: 1px 3px 5px #bbb; }

.online { width: 240px; border-left: #ddd solid 1px; float: right; }
	.online h3,.window h3 { margin: 0; padding: 10px; font-size: 14px; border-bottom: #ddd solid 1px; background: #f5f5f5 }
	.online #nicknames { height: 500px; overflow-y: scroll; }
	.online #nicknames li { height: 36px; line-height: 36px; padding: 0 10px 0 30px; color: #1296db; border-bottom: #ddd dotted 1px; background: url(../images/user.png) no-repeat 10px center; }

.window { margin-right: 240px; }
.message { padding: 10px; height: 440px; overflow-y: auto; }
	.message p { margin: 0 0 10px 0; }
	.message li { margin-bottom: 10px; }
	.message li div { padding: 8px 10px; border: #ddd solid 1px; border-radius: 20px; font-size: 12px; background: #f5f5f5; display: inline-block; }
	.message li b { color: #1296DB; }
.send-form { height: 39px; border-top: #ddd solid 1px; }
	.send-form input[type="text"] { width: 678px; height: 39px; padding: 0 10px; border: 0; outline: none; }
	.send-form input[type="submit"] { width: 60px; height: 39px; float: right; background: #1296DB; color: #fff; border: 0; cursor: pointer; }